# MIT 6.0001
## Chapter 5 - Structured Types and Mutability

### Tuples

In [1]:
# Tuples, pg. 90
t1 = (1, 'two', 3)
t2 = (t1, 3.25)
print(t2)
print((t1 + t2))
print((t1 + t2)[3])
print((t1 + t2)[2:5])

((1, 'two', 3), 3.25)
(1, 'two', 3, (1, 'two', 3), 3.25)
(1, 'two', 3)
(3, (1, 'two', 3), 3.25)

In [2]:
# Multiple Assignments, pg. 91
def find_extreme_divisor(n1, n2):
    """
    Assumes that n1 and n2 are positive ints
    Returns a tuple containing the smallest common divisor > 1 and the largest common divisor of n1 & n2
    If no common divisor, other than 1, returns (None, None)
    """
    min_val, max_val = None, None
    for i in range(2, min(n1, n2)+1):
        if n1%i == 0 and n2%i == 0:
            if min_val == None:
                min_val = i
            max_val = i
    return min_val, max_val

min_divisor, max_divisor = find_extreme_divisor(100, 200)
print(f'min_divisor: {min_divisor}\nmax_divisor: {max_divisor}')

min_divisor: 2
max_divisor: 100

In [3]:
# Finger Exercise, pg. 93
# Write an expression that evaluates to the mean of a tuple of numbers. Use the function sum

tuple_nums = (1, 2, 3, 4, 5, 6, 7)
mean = sum(tuple_nums)/len(tuple_nums)
print(mean)

4.0

### Lists

In [4]:
# Lists and Mutability, pg. 93
L1 = [1, 2, 3]
L2 = L1[-1::-1]

print(f'L1: {L1}')
print(f'L2: {L2}')

for i in range(len(L1)):
    print(L1[i]*L2[i])

L1: [1, 2, 3]
L2: [3, 2, 1]
3
4
3

In [5]:
l1 = [[]]*2
l2 = [[], []]

print(f'l1: {l1}')
print(f'l2: {l2}')

for i in range(len(l1)):
    l1[i].append(i)
    l2[i].append(i)
    
print(f'l1: {l1}')
print(f'l2: {l2}')

l1: [[], []]
l2: [[], []]
l1: [[0, 1], [0, 1]]
l2: [[0], [1]]

In [6]:
# Finger exercise, pg. 98
# What does the following code print?

l = [1, 2, 3]
l.append(l)
print(l is l[-1])

True

In [7]:
# Mistake, pg. 99, List_1.append(val) <-- list_1.append(val)
def append_val(val, list_1 = []):
    list_1.append(val)
    print(list_1)
    
append_val(3)
append_val(4)

[3]
[3, 4]

In [8]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = l1 + l2
print(f'l3 = {l3}')

l1.extend(l2)
print(f'l1 = {l1}')

l1.append(l2)
print(f'l1 = {l1}')

l3 = [1, 2, 3, 4, 5, 6]
l1 = [1, 2, 3, 4, 5, 6]
l1 = [1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [9]:
# Figure 5-4, pg. 100
# Methods associated with lists
L, e, i, L1 = [1, 2, 3], 4, 0, [5, 6]

L.append(e)  # Adds the object e to the end of L.

L.count(e)  # Returns the number of times that e occurs in L.

L.insert(i, e)  # Inserts the object e into L at index i.

L.extend(L1)  # Adds the items in list L1 to the end of L.

L.remove(e)  # Deletes the first occurrence of e from L.

L.index(e)  # Returns the index of the first occurrence of e in L, raises an exception if e is not in L.

L.pop(i)  # Removes and returns the item at index i in L, raises an exception if L is empty. 
          # If i is omitted, it defaults to -1, to remove and return the last element of L.

L.sort()  # Sorts the elements of L in ascending order.

L.reverse()  # Reverses the order of the elements in L.

In [10]:
import copy

l1 = [2]
l2 = [l1, l1]
print(f'l2 = {l2}')

l3 = copy.deepcopy(l2)
print(f'l3 = {l3}')

l3[0].append(3)
print(f'l3 = {l3}')

l2 = [[2], [2]]
l3 = [[2], [2]]
l3 = [[2, 3], [2, 3]]

### List Comprehension

In [11]:
# List Comprehension
[e**2 for e in range(6)]

[0, 1, 4, 9, 16, 25]

In [12]:
[e**2 for e in range(8) if e%2 == 0]

[0, 4, 16, 36]

In [13]:
[x**2 for x in [2, 'a', 3, 4.0] if type(x) == int]

[4, 9]

In [14]:
L = [(x, y)
     for x in range(6) if x%2 == 0
     for y in range(6) if y%3 == 0]
L

[(0, 0), (0, 3), (2, 0), (2, 3), (4, 0), (4, 3)]

In [15]:
lst = []
for x in range(6):
    if x%2 == 0:
        for y in range(6):
            if y%3 == 0:
                lst.append((x, y))
lst

[(0, 0), (0, 3), (2, 0), (2, 3), (4, 0), (4, 3)]

In [16]:
# Prime numbers
for i in range(2, 100):
    for j in range(2, i):
        if i%j == 0:
            break
    else:
        print(i, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [17]:
# Mistake, pg. 104, range(3, x) <-- range(2, x)
primes = [x for x in range(2, 100) if all(x%y != 0 for y in range(2, x))]
print(*primes)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [18]:
# Finger exercise, pg.105
# Write a list comprehension that generates all non-primes between 2 and 100
non_primes = [x for x in range(2, 100) if any(x%y == 0 for y in range(2, x))]
print(*non_primes)

4 6 8 9 10 12 14 15 16 18 20 21 22 24 25 26 27 28 30 32 33 34 35 36 38 39 40 42 44 45 46 48 49 50 51 52 54 55 56 57 58 60 62 63 64 65 66 68 69 70 72 74 75 76 77 78 80 81 82 84 85 86 87 88 90 91 92 93 94 95 96 98 99

In [19]:
# Figure 5-5
# Applying a function to elements of a list

def apply_to_each(L, f):
    """
    Assumes L is a list, f a function
    Mutates L by replacing each elemnt, e, of L by f(e)
    """
    for i in range(len(L)):
        L[i] = f(L[i])
        
L = [1, -2, 3.33]
print(f'L = {L}')

print('\nApply abs to each element of L')
apply_to_each(L, abs)
print(f'L = {L}')

print('\nApply int to each element of', L)
apply_to_each(L, int)
print(f'L = {L}')

print('\nApply squaring to each element of', L)
apply_to_each(L, lambda x: x**2)
print(f'L = {L}')

L = [1, -2, 3.33]

Apply abs to each element of L
L = [1, 2, 3.33]

Apply int to each element of [1, 2, 3.33]
L = [1, 2, 3]

Apply squaring to each element of [1, 2, 3]
L = [1, 4, 9]

In [20]:
# map function
list(map(str, range(10)))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [21]:
[str(e) for e in range(10)]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [22]:
for i in map(lambda x: x**2, [2, 6, 4]):
    print(i)

4
36
16

In [23]:
l1 = [1, 28, 36]
l2 = [2, 57, 9]
for i in map(min, l1, l2):
    print(i)

1
28
9

In [24]:
# Finger exercise, pg.107
# Implement a function satisfying the followin specification.
# Hint: it will be convenient to use lambda in teh body of the implementation.

def f(l1, l2):
    """
    l1, l2 lists of same lenght of numbers
    returns the sum of raining each element in l1 to the power of the element at the same index in l2
    For example, f([1,2], [2,3]) returns 9
    """
    sum_pow = [l1[x]**l2[x] for x in range(len(l1))]
    return sum(sum_pow)

print(f([1,2], [2,3]))

9

In [25]:
# Solving the problem using lambda and list comprehension
def f_lambda(l1, l2):
    return sum(list(map(lambda x: l1[x]**l2[x], [x for x in range(len(l1))])))

f_lambda([1,2], [2,3])

9

#### Figure 5-6, pg. 107
#### Strings, Tuples, Ranges, and Lists are four iterable types
##### Objects of these types can be operated upon as the following:
- `seq[i]` returns the ith element in the sequence.
- `len(seq)` returns the lenght of the sequence.
- `seq1 + seq2` returns the concatenations of the two sequences (not available for ranges).
- `n*seq` returns a sequence that repeats seq n times (not available for ranges).
- `seq[start:end]` returns a slice of the sequence.
- `e in seq` is True if e is contained in the sequence and False otherwise.
- `e not in seq` is True if e is not in the sequence and False otherwise.
- `for e in seq` iterates over the elements of the sequence.

### Sets

In [26]:
baseball_teams = {'Dodgers', 'Giants', 'Padres', 'Rockies'}
football_teams = {'Giants', 'Eagles', 'Cardinals', 'Cowboys'}

print(baseball_teams)
print(football_teams)

{'Rockies', 'Dodgers', 'Padres', 'Giants'}
{'Cowboys', 'Cardinals', 'Eagles', 'Giants'}

In [27]:
baseball_teams.add('Yankees')
football_teams.update(['Patriots', 'Jets'])

print(baseball_teams)
print(football_teams)

{'Rockies', 'Dodgers', 'Yankees', 'Padres', 'Giants'}
{'Jets', 'Eagles', 'Giants', 'Patriots', 'Cowboys', 'Cardinals'}

In [28]:
print(baseball_teams.union({1, 2}))
print(baseball_teams.intersection(football_teams))
print(baseball_teams.difference(football_teams))
print({'Padres', 'Yankees'}.issubset(baseball_teams))

{1, 2, 'Rockies', 'Dodgers', 'Yankees', 'Padres', 'Giants'}
{'Giants'}
{'Rockies', 'Dodgers', 'Yankees', 'Padres'}
True

In [29]:
print(baseball_teams | {1, 2})
print(baseball_teams & football_teams)
print(baseball_teams - football_teams)
print({'Padres', 'Yankees'} <= baseball_teams)

{1, 2, 'Rockies', 'Dodgers', 'Yankees', 'Padres', 'Giants'}
{'Giants'}
{'Rockies', 'Dodgers', 'Yankees', 'Padres'}
True

### Dictionaries

In [30]:
month_numbers = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5,
                 1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May'}

print(month_numbers)
print(f'The third month is {month_numbers[3]}')
dist = month_numbers['Apr'] - month_numbers['Jan']
print(f'Apr and Jan are {dist} months apart')

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May'}
The third month is Mar
Apr and Jan are 3 months apart

In [31]:
print(month_numbers['Apr'])
print(month_numbers[4])

4
Apr

In [32]:
month_numbers['Jun'] = 6
print(month_numbers)

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 'Jun': 6}

In [33]:
# Iterate over dictionaries
capitals = {'France': 'Paris', 'Italy': 'Rome', 'Japan': 'Kyoto'}

for key in capitals:
    print(f'The capital of {key} is {capitals[key]}')

The capital of France is Paris
The capital of Italy is Rome
The capital of Japan is Kyoto

In [34]:
# Iterate over values of dictionary
cities = []
for val in capitals.values():
    cities.append(val)
print(f'{cities} is a list of capital cities')

['Paris', 'Rome', 'Kyoto'] is a list of capital cities

In [35]:
# Mistake, pg.116, 'Toyko' <-- 'Tokyo'
cap_vals = capitals.values()
print(cap_vals)

capitals['Japan'] = 'Tokyo'
print(cap_vals)

dict_values(['Paris', 'Rome', 'Kyoto'])
dict_values(['Paris', 'Rome', 'Tokyo'])

In [36]:
# Iterate over keys and values in dictionary
for key, val in capitals.items():
    print(f'{val} is the capital of {key}')

Paris is the capital of France
Rome is the capital of Italy
Tokyo is the capital of Japan

In [37]:
# Finger exercise, pg.117
# Implement a function that meets the specification

def get_min(d):
    """
    d a dict mapping letters to ints
    returns the value in d with the key that occurs first in the alphabet.
    E.g., if d = {x = 11, b = 12}, get_min returns 12
    """
    min_key = min(d.keys())
    return d[min_key]

d = {'x':11, 'b':12}
get_min(d)

12

#### Figure 5-10, pg. 117
#### Common operations in dicts
- `len(d)`  returns the number of items in d.
- `d.keys()` returns a view of the keys in d.
- `d.values()`  returns a view of the values in d.
- `d.items()`  returns a view of the (key, value) pairs in d.
- `d.update(d1)` updates d with the (key, value) pairs in d1, overwriting existing keys.
- `k in d` returns True if key k is in d.
- `d[k]`  returns the value in d with key k.
- `d.get(k, v)`  returns d[k] if k is in d, and v otherwise.
- `d[k] = v` associates the value v with the key k in d. If there is alread a value associated with k, that value is replaced.
- `del d[k]`  removes the key k from d.

### Dictionary Comprehension

In [38]:
num_to_word = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 10: 'ten'}
print(f'num_to_word: {num_to_word}')

word_to_num = {w: d for d, w in num_to_word.items()}
print(f'word_to_num: {word_to_num}')

num_to_word: {1: 'one', 2: 'two', 3: 'three', 4: 'four', 10: 'ten'}
word_to_num: {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'ten': 10}